body {
    margin: 0px;
    background-color: #EEEEEE;
    font-family: sans-serif;
}

.timer {
    text-align: center;
    color: #333;
    margin-top: 3vh;
    font-size: 14px;
}

.score {
    text-align: center;
    color: #333;
    margin-top: 1vh;
    font-size: 18px;
}

.instructions {
    text-align: center;
    color: #888;
    margin-top: 3vh;
    font-size: 14px;
}

.word {
    text-align: center;
    margin-top: 30vh;
    color: #333;
    font-size: 62px;
}

.selectedChar {
    color: #1111CC;
}